@mixin transition($properties) {
  -webkit-transition: $properties;
  -moz-transition: $properties;
  -ms-transition: $properties;
  -o-transition: $properties;
  transition: $properties;
}

@mixin transition-cubic-bezier {
  @include transition(all .3s cubic-bezier(1,.01,.29,.93));
}
