.dropdown {
  position: relative;
  display: inline-block;

  &__content {
    display: none;
    position: absolute;
    min-width: 230px;
    background-color: white;

    a { color: $green-dark; }
  }

  &__link {
    padding: 12px 16px;
    display: block;
    line-height: normal;

    &:hover {
      color: $green-dark;
      background-color: #eee;
    }
  }

  &:hover &__content {
    display: block;
  }
}
