.find-us {
  padding-left: 20px;

  @include outer-container;

  &__link {
    margin-bottom: 15px;

    @include span-columns(12);

    @include media($medium) {
      margin-right: 40px;

      &:not(:last-child) {
        width: 45%;
      }

      &:last-child {
        width: 94%;
      }
    }

    a {
      display: block;
      height: 30px;
      line-height: 2;
      color: $green-dark;
      background-color: white;
    }

    &::before {
      float: left;
      margin-left: -29px;

      content: url("../images/localizador-02.png");
    }
  }
}


// float: left;
// width: 40%;
// margin-right: 95px;
