#{$all-text-inputs} {
  width: 80%;
  color: white;
  display: block;
  margin: 10px auto;
  padding: 8px 10px 8px 10px;
  border: 0px;
  border-radius: 4px;
  background-color: #8BC932;

  @include placeholder {
    color: white;
  }
}

input[type="submit"] {
  height: 60px;
  border-radius: 50%;
  border: 2px #8BC932 solid;
  background-color: white;
  text-transform: uppercase;
  font-weight: 700;
  font-size: .8em;
}
