#instafeed {
  margin-bottom: 180px;

  @include outer-container;

  a {
    @include span-columns(3);
    @include omega(4n);
  }

  img {
    margin: 15px;
    border: solid 10px white;
    box-shadow: 2px 5px 15px 1px rgba(0, 0, 0, 0.8);
  }
}
