
ul {
  -webkit-padding-start: 0px;
}

a {
  text-decoration: none;
}

h1, h2 {
  font-family: 'Fjalla One';
  letter-spacing: 2px;
  font-weight: 200;
}

p {
  font-size: 1.2em;
  font-family: 'Droid Serif';
}

.container {
  @include outer-container;
}

.products-slider {
  zoom: 1;

  img {
    width: 50%;
  }
}
