.links-list {
  @include outer-container;

  &__link {
    @include span-columns(4);

    text-align: center;

    @include media($small-screen) {
      @include span-columns(6);
    }

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    background-color: transparent;
  }
}
