.navbar {
  width: 100%;
  height: 60px;
  margin-top: 30px;
  position: absolute;
  background-color: #006937;

  @include media($medium) {
    margin-top: 60px;
  }

  &__logo {
    margin-top: -30px;
    padding-left: 15px;
    position: absolute;

    @include media($medium) {
      width: 100%;
      margin-top: -60px;
      text-align: center;
    }

    img {
      width: 130px;

      @include media($medium) {
        width: 190px;
      }
    }
  }


  &__toggle {
    color: white;
    right: 0;
    color: white;
    position: absolute;
    padding: 20px 10px;

    @include transition-cubic-bezier;

    @include media($medium) {
      display: none;
    }
  }

  &__nav {
    position: fixed;
    width: 140px;
    top: 0;
    // overflow-y: auto;
    right: -210px;
    height: 100%;
    margin-top: 0;
    background-color: $green-brown;
    padding: 10px;
    list-style: none;

    @include transition-cubic-bezier;

    @include media($medium) {
      width: 100%;
      right: auto;
      position: relative;
      background-color: transparent;

      &--left {
        float: left;
      }

      &--right {
        float: right;
      }
    }
  }

  &__link {
    margin-right: 15px;
    margin-bottom: 15px;
    font-size: 1em;

    @include media($medium) {
      display: inline-block;
      line-height: 40px;
      margin-right: 45px;
    }

    a {
      color: white;
    }
  }
}
