.page {
  margin-top: 200px;
  margin-right: 50px;

  &__icon {
    float: left;
  }

  &__title {
    color: $green-dark;
    text-align: left;
  }

  &__content {
    color: $green-dark;
    text-align: justify;
    font-size: 0.8em;
  }
}

