.product-header {
  margin-top: 200px;

  &__content {
    background-color: white;
    padding: 2px 50px 2px 200px;
    margin-left: 50px;
    font-size: 13px;

    &--foobar {
      margin-left: 80px;
    }
  }

  &__title {
    color: $green-dark;
    margin-bottom: 35px;
  }

  &__icon {
    float: left;
  }
}


