.b-border {
  background-color: $green-dark;
  display: inline-block;
  position: relative;
  border: solid $green-dark;
  border-width: 1px 1px 0px 1px;
  padding: 20px;
  margin-bottom: 100px;

  &:before {
    content: '';
    position: absolute;
    left: -1px;
    top: -15%;
    height: 15%;
    width: calc(100% + 1px);
    background: linear-gradient(to right bottom, transparent 50%, $green-dark 1px, $green-dark calc(50% - 1px));
  }

  &:after {
    content: "";
    position: absolute;
    left: -1px;
    bottom: -15%;
    height: 15%;
    width: calc(100% + 1px);
    background: linear-gradient(to left bottom, $green-dark calc(50% - 1px), $green-dark 1px, transparent 50%);
  }
}

.section {
  margin: 0;
  width: 100%;
  max-width: none;
  display: table;
  text-align: center;
  padding: 25px 10px 25px 10px;

  &--page {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: $about-background-color url('../images/milk_01.png') repeat-x center bottom;
    background-size: 100% 50%;

    .spacer {
      order: 1;
      height: 70px;
      margin: -25px -10px;
      background-color: #B3CE63;
    }

    .container {
      order: 2;
    }
  }

  &--city {
    background-color: white;
  }

  &--details {
    margin: 0;
    width: 100%;
  }

  &--cover {
    height: 100vh;
    background: url('../images/cover.png') no-repeat center center;
    background-size: cover;
  }

  &--master {
    height: 100vh;
    background: url('../images/fundos_produtos-02.png') no-repeat center center;
    background-size: cover;
  }

  &--about {
    min-height: 1000px;
    background: $about-background-color url('../images/milk_01.png') repeat-x center bottom;
    background-size: 100% 50%;

    h1 {
      color: $brown-dark;
    }

    p {
      color: $green;

      @include media($small-screen) {
        font-size: 1.2em;
      }
    }
  }

  &--more {
    background: #FAFAF9 url('../images/leite2.png') no-repeat center center;
    h1, h2 {
      color: $green-dark;
    }
  }

  &--map {
    background-color: $green-dark;

    h1 {
      color: #FAFAF9;
    }
  }

  &--products {
    background: url('../images/fundos_instagram-07.png');
  }

  &--instagram {
    background-color: #FAFAF9;
    background-size: cover;

    h1 {
      color: $green-dark;
      margin-top: 70px;
      margin-bottom: 70px;
      font-weight: 2em;
    }
  }

  &--contact {
    padding-top: 0;
    padding-bottom: 0;
    background: url('../images/google2.png') no-repeat center center;
    background-size: cover;

    h2 {
      color: $green-dark;
      margin-top: 30px;
    }
  }
}

.contact-header {
  background-color: white;
  padding: 30px 4px 20px 4px;
  margin-left: 610px;
  margin-right: 250px;
  font-size: 16px;
}


.section-title {
  margin-top: 150px;
  margin-bottom: 15px;
  @include span-columns(12);

  h1 {
    display: block;
    height: 30px;
    line-height: 2;
    color: white;
    text-align: center;
    font-size: 1em;
    background-color: $green-brown;
    margin-left: 35px;
  }

  &::before {
    float: left;
    margin-top: -6px;
    margin-left: 6px;

    content: url("../images/localizador-02.png");
  }
}
