.social-bar {
  display: none;
  z-index: 99999999999;

  @include media($medium) {
    display: block;
    position: absolute;
    top: 0;
    left: 165px;
  }

  &__link {
    margin-right: 10px;

    img {
      width: 10%;
    }
  }
}
