// Breakpoints Contexts
// ====================
$huge: 1200px;
$big: 1022px;
$medium: 768px;
$small: 620px;
$xsmall: 480px;
$xsmall: 480px;


// Neat configuration
// ==================
$max-width: em(1024);
$huge-screen: new-breakpoint(max-width $huge - 1 12);
$big-screen: new-breakpoint(max-width $big 12);
$medium-screen: new-breakpoint(max-width $medium 12);
$small-screen:  new-breakpoint(max-width $small 6);
$xsmall-screen: new-breakpoint(max-width $xsmall 4);


// Colors
// ======
$green: #617134;
$green-dark: #4A5D22;
$green-brown: #455D28;
$brown-dark: #35271A;

// Navbar options
$navbar-background: #006937;
$navbar-font-color: white;

// Sections options
$about-background-color: #D4D593;
