<header>
  <div class="social-bar">
    <a target= "_blank" href="https://www.facebook.com/LeiteCem/?fref=ts" class="social-bar__link">
      <%= image_tag 'face-01.png' %>
    </a>
    <a target= "_blank" href="https://www.instagram.com/leitecem/" class="social-bar__link">
      <%= image_tag 'instagram-01.png' %>
    </a>
  </div>

  <nav class="navbar">
    <div class="navbar__logo">
      <a href="/">
        <%= image_tag 'logo-01.png' %>
      </a>
    </div>

    <div class="container">
      <a class="navbar__toggle" href="javascript:void(0)">
        <i class="fa fa-bars fa-lg"></i>
      </a>

      <ul class="navbar__nav">
        <div class="navbar__nav--left">
          <li class="navbar__link">
            <%= link_to 'Início', '/' %>
          </li>
          <li class="navbar__link">
            <%= link_to 'História', '/#historia', data: { href: '#historia'} %>
          </li>
          <li class="navbar__link">
            <%= link_to 'Saiba mais', '/#saiba-mais', data: { href: '#saiba-mais'} %>
          </li>
        </div>

        <div class="navbar__nav--right">
          <li class="navbar__link">
            <%= link_to 'Encontre-nos', '/#encontre-nos', data: { href: '#encontre-nos'} %>
          </li>
          <li class="navbar__link dropdown">
            <%= link_to 'Produtos', 'javascript:void(0)' %>
            <div class="dropdown__content">
              <%= link_to 'Leites Pasteurizados', '/pasteurizados.html', class: 'dropdown__link' %>
              <%= link_to 'Leites Fermentados', '/fermentados.html', class: 'dropdown__link' %>
              <%= link_to 'Bebidas Lácteas', '/bebidas_lacteas.html', class: 'dropdown__link' %>
              <%= link_to 'Creme de Leite, Nata e Manteiga da Terra', '/outros.html', class: 'dropdown__link' %>
            </div>
          </li>
          <li class="navbar__link">
            <%= link_to 'Contato', '/#contato', data: { href: '#contato'} %>
          </li>
        </div>
      </ul>
    </div>
  </nav>
</header>
