<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="author" content="Dayane Pabla <dayanepabla@gmail.com>">
    <meta name="description" content="Leite Cem">
    <meta name="keywords" content="leite, produtos, laticínios">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "Leite Cem" %></title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One|Droid+Serif' rel='stylesheet' type='text/css'>

    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>

  <body class="<%= page_classes %>">
    <%= partial 'layouts/navbar' %>
    <%= yield %>
  </body>
</html>
