<div class="container">
  <img src="images/1_01.png">

  <h1>Nossa História</h1>

  <p>
    Típica empresa que conquistou seu espaço com esforços próprios, o Leite Cem foi fundado há 19 anos na Fazenda Santana (município de São Gonçalo do Amarante), tendo seu nome inspirado no patriarca Cristiano Eugênio de Melo, já falecido. O legado do Sr. Cristiano floresceu de uma Usina Moderna, responsável por uma linha de produtos que inclui, além do próprio Leite Pasteurizado e Desnatado, Bebida Láctea, Coalhada, Manteiga, Iogurte, Nata e Creme de Leite. Uma diversidade de delícias que agradam a todos os gostos.
  </p>
  <p>
    A partir de então, a nova administração, feita a quatro mãos pelas irmãs Christiana e Geórgia, filhas de Sr. Cristiano, encarregou-se de dar o ritmo necessário ao progresso do negócio. "'Fazenda' era para se chamar 'fazendo', porque nunca se para de fazer alguma coisa todos os dias", confessa Christiana, espirituosa.
  </p>
  <p>
    A distribuição do Leite CEM é destinada à Grande Natal e praias do litoral potiguar, mas, além disso, tem como clientes referências os Supermerdados Nordestão, Carrefour, Rede Mais, além dos Hotéis Via Costeira (onde se destacam nas mãos dos principais chefes de cozinha que atestam a qualidade de produto diariamente), como também dos melhores Restaurantes e Hospitais de Natal.
  </p>
  <p>
    O plano de expansão é inovar cada vez mais a sua linha de produção, com produtos diferenciados no Mercado, além de se tornar uma referência na região. Nossa missão é sermos referência em todos os mercados consumidores da Grande Natal.
  </p>

  <img src="images/2_01.png">
</div>
