<div class="contact-header">
  <h2>Envie-nos sua mensagem</h2>

  <form class="form contact-form" action="//formspree.io/dayanepabla@gmail.com"method="POST">
    <input type="hidden" name="_cc" value="diegotoral@gmail.com" />
    <input type="text" name="name" placeholder="Nome">
    <input type="text" name="emal" placeholder="E-mail">
    <textarea id="" cols="30" rows="10" name="message" placeholder="Sua mensagem..."></textarea>
    <input type="submit" value="Enviar">
  </form>
  
  <h2>ou entre em contato pelos telefones:</h2>
  <h2>84 3214-3155 | 84 3614-1833</h2>
</div>
