<%= image_tag 'mapas-04.png', style: 'position: absolute;left: 200px;margin-top: -90px;' %>

<h1 style="margin-top: 100px;">Encontre nossos produtos</h1>

<div class="find-us">
  <div class="find-us__link">
    <% link_to '/natal.html' do %>
      <h3>Natal</h3>
    <% end %>
  </div>
  <div class="find-us__link">
    <% link_to '/cearamirim.html' do %>
      <h3>Ceará-Mirim</h3>
    <% end %>
  </div>
  <div class="find-us__link">
    <% link_to '/parnamirim.html' do %>
      <h3>Parnamirim</h3>
    <% end %>
  </div>
  <div class="find-us__link">
    <% link_to '/macaiba.html' do %>
      <h3>Macaíba</h3>
    <% end %>
  </div>
  <div class="find-us__link">
    <% link_to '/saogoncalo.html' do %>
      <h3>São Gonçalo do Amarante</h3>
    <% end %>
  </div>
</div>
