<h1 class="spaced">Conheça mais sobre nós</h1>

<div class="links-list">
  <div class="links-list__link">
    <img src="images/icone_01.png">
    <% link_to '/nosso_leite.html' do %>
      <h2>NOSSO LEITE</h2>
    <% end %>
  </div>
  <div class="links-list__link">
    <img src="images/icone2_01.png">
    <% link_to '/eventos.html' do %>
      <h2>EVENTOS</h2>
    <% end %>
  </div>
  <div class="links-list__link">
    <img src="images/icone3_01.png">
    <% link_to '/comunidade.html' do %>
      <h2>A COMUNIDADE</h2>
    <% end %>
  </div>
</div>
