---
title: Ceará-Mirim
---

<section class="section section--page section--city">
  <div class="spacer"></div>
  
  <div class="container">
    <div class="section-title">
      <h1>Ceará-mirím</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Rede Mais Opção<br/>
          End.: Praça Onofre José Soares, 169 - Centro - CEP.: 59570-000<br/>
          Fone: 84 3274-2123<br/>
        </p>
      </div>
      <div class="col-6">
        <p>
          Rede Mais Serve Bem<br/>
          End.: Rua Rodolfo Garcia, 11 - Centro - CEP.: 59570-000<br/>
          Fone: 84 3274-2088<br/>
        </p>
      </div>
    </div>
  </div>
</section>
