---
title: Eventos Leite Cem
---

<section class="section section--details section--page">
  <div class="spacer"></div>

  <div class="container">
    <div class="page">
      <img class="page__icon" src="images/icone2-02.png">
      <h2 class="page__title">EVENTOS</h2>
      <div class="page__content">
        <p>
          Típica empresa que conquistou seu espaço com esforços próprios, o Leite Cem foi fundado há 19 anos na Fazenda Santana (município de São Gonçalo do Amarante), tendo seu nome inspirado no patriarca Cristiano Eugênio de Melo, já falecido. O legado do Sr. Cristiano floresceu de uma Usina Moderna, responsável por uma linha de produtos que inclui, além do próprio Leite Pasteurizado e Desnatado, Bebida Láctea, Coalhada, Manteiga, Iogurte, Nata e Creme de Leite. Uma diversidade de delícias que agradam a todos os gostos.
        </p>
      </div>
    </div>
  </div>
</section>
