---
title: Leite Cem
---

<div class="section section--cover"></div>

<div id="historia" class="section section--about">
  <%= partial 'sections/about' %>
</div>

<div id="saiba-mais" class="section section--more">
  <%= partial 'sections/more' %>
</div>

<div class="section section--instagram">
  <h1>Fotos do Instagram</h1>
  <div class="container">
    <div id="instafeed"></div>
  </div>
</div>

<div id="encontre-nos" class="section section--map b-border">
  <%= partial 'sections/map' %>
</div>

<div id="contato" class="section section--contact">
  <%= partial 'sections/contact' %>
</div>
