---
title: Macaíba
---

<section class="section section--page section--city">
  <div class="spacer"></div>

  <div class="container">
    <div class="section-title">
      <h1>Macaíba</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Supermercado Vitória Grupo Canaã<br/>
          End.: Av. Jundiaí, 99 - Centro - CEP.: 59280-970<br/>
          Fone: 84 3271-3257<br/>
        </p>
      </div>
      <div class="col-6">
        <p>
          Supermercado Gama<br/>
          End.: Rua Nair Mesquita, 4 - Centro - CEP.: 59280-000<br/>
          Fone: 84 3271-1497<br/>
        </p>
      </div>
    </div>
  </div>
</section>
