---
title: Natal
---

<section class="section section--city section--page">
  <div class="spacer"></div>

  <div class="container">
    <div class="section-title">
      <h1>Natal</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Supermercado Nordestão Loja 1<br/>
          End.: Av. Presidente Bandeira, 717 - Alecrim - CEP.: 59032-200<br/>
          Fone: 84 3087-2900<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 2<br/>
          End.: Rua Trairi, 342 - Petrópolis - CEP.: 59020-150<br/>
          Fone: 84 3087-2700<br/>
        </p>
        <p>
          Hipermercado Extra Midway<br/>
          End.: Av. Bernado Vieira, 3775 - Tirol - CEP.: 59015-900<br/>
          Fone: 84 3092-9406<br/>
        </p>
        <p>
          Rede Mais (Supermercado da Terra)<br/>
          End.: Av. Coronel Estevam, 1258 - Alecrim - CEP.:59030-000<br/>
          Fone: 84 3213-4614<br/>
        </p>
        <p>
          Bom Dia Loja 4<br/>
          End.: Rua Teófilo Brandão, 858 - Petrópolis - CEP.: 59014-130<br/>
          Fone: 84 3202-3383<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 7<br/>
          End.: Av. Prudente de Morais, 1140 - Tirol - CEP.: 59020-510<br/>
          Fone: 84 3087-7815<br/>
        </p>
        <p>
          Supermercado Asa Norte<br/>
          End.: Rua Maracai, 240, Conj. Pajuçara II, - CEP.: 59131-190<br/>
          Fone: 84 3663-1722<br/>
        </p>
        <p>
          Rede Mais (Supermercado Pajuçara)<br/>
          End.: Rua Doutor Álvaro Osório de Almeida, 426 - Conj. Pajuçara II - CEP.: 59131-080<br/>
          Fone: 84 3663-8408<br/>
        </p>
        <p>
          Supermercado Favorito Zona Norte<br/>
          End.: Av. Santarém, 921 - Nossa Sra. da Apresentação - CEP.: 59114-200<br/>
          Fone: 84 3664-1434<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 5<br/>
          End.: Av. Dr. João Medeiros Filho, 1385 - Potengi - CEP.: 59108-200<br/>
          Fone: 84 3087-7500<br/>
        </p>
        <p>
          Bom Dia Loja 3<br/>
          End.: Av. Senhor do Bonfim, 5229 - Potengi - CEP.: 59120-000<br/>
          Fone: 84 3661-8226<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 6<br/>
          End.: Av. Bacharel Tomaz Landim, 26 - Igapó - CEP.:59290-000<br/>
          Fone: 84 3674-8762<br/>
        </p>
        <p>
          Carrefour Zona Norte<br/>
          End.: Av. Dr. João Medeiros Filho, 2005 - Potengi - CEP.: 59018-200<br/>
          Fone: 84 3755-2299<br/>
        </p>
      </div>
      <div class="col-6">
        <p>
          Rede Mais Serve Bem<br/>
          End.: Rua Joaquim de Castro, 249 - Felipe Camarão - CEP.: 59074-350<br/>
          Fone: 84 3205-8082<br/>
        </p>
        <p>
          Rede Mais Tampinha<br/>
          End.: Rua Antônio Martins, 334 - Nossa Sra. de Nazaré - CEP.: 59062-200<br/>
          Fone: 84 3213-1627<br/>
        </p>
        <p>
          Rede Mais Serve Bem Filial 1<br/>
          End.: Rua Recife, 50 - Cidade da Esperança - CEP.: 59037-350<br/>
          Fone: 84 3205-7881<br/>
        </p>
        <p>
          Rede Mais (Compre Bem)<br/>
          End.: Rua da Conceição, 103 - Cidade da Esperança - CEP.: 59070-230<br/>
          Fone: 84 3205-1098<br/>
        </p>
        <p>
          Mercadinho Sertanejo<br/>
          End.: Rua São Silvestre, 22 - Planalto - Pitimbu - CEP.: 59037-155<br/>
          Fone: 84 3218-5502<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 3<br/>
          End.: Av. Senador Salgado Filho, 1656 - Lagoa Nova - CEP.: 59056-000<br/>
          Fone: 84 3087-7300<br/>
        </p>
        <p>
          Favorito Ponta Negra<br/>
          End.: Av. Eng. Roberto Freire, 1460 - Capim Macio - CEP.: 59078-600<br/>
          Fone: 84 4009-2800<br/>
        </p>
        <p>
          Favorito Ayrton Senna<br/>
          End.: Av. Ayrton Senna, 3215 - Neópolis - CEP.: 59088-100<br/>
          Fone: 84 3608-0313<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 4<br/>
          End.: Rua Leôncio Etelvino de Medeiros, s/n - Capim Macio - CEP.: 59078-570<br/>
          Fone: 84 3087-2300<br/>
        </p>
        <p>
          Rede Mais Veneza<br/>
          End.: Rua Djalma Maranhão, 301 - Nova Descoberta - CEP.: 59075-100<br/>
          Fone: 84 3231-4000<br/>
        </p>
        <p>
          Hipermercado Extra Ponta Negra<br/>
          End.: Av. Eng. Roberto Freire, s/n - Ponta Negra - CEP.: 59082-400<br/>
          Fone: 84 3087-8050<br/>
        </p>
        <p>
          Carrefour Zona Sul<br/>
          End.: Av. Senador Salgado Filho, s/n - Lagoa Nova - CEP.: 59064-904<br/>
          Fone: 84 3204-2000<br/>
        </p>
      </div>
    </div>
  </div>
</section>
