---
title: LINHA DE CREME DE LEITE, NATA E MANTEIGA DA TERRA
---

<div class="section section--master">
  <div class="product-header">
    <div class="container">
      <img class="product-header__icon" src="images/produtos3.png">
      <h1 class="product-header__title">Linha de creme de leite, nata e manteiga da terra</h1>
      <div class="product-header__content">
        <p>
          A gordura é um dos componentes mais nobres do leite. Dela pode se obter inúmeros produtos, como o Creme de Leite Fresco, a Nata Fresca e a Manteiga da Terra. A qualidade da gordura e de todos os demais derivados produzidos depende da qualidade inicial do leite recebido pela empresa. Por este motivo, todo o leite recebido pelo Leite Cem é analisado em nosso Laboratório de Controle de Qualidade. O desnate do leite é realizado em equipamento próprio, de forma rápida, para que não sejam alteradas as características da gordura, e consequente perda de qualidade dos produtos.
      </p>
      </div>
    </div>
  </div>
</div>

<section class="section section--products">
  <div class="container">
    <div class="product-description">
      <div class="product-description__number">1</div>
      <div class="product-description__body">
        <h3>MANTEIGA DA TERRA – 100g E 500g</h3>
        <p>
          O verdadeiro sabor da Terra, a Manteiga de Garrafa Leite Cem é feita a partir da pura nata do leite. Sem corantes ou sal, traz o aroma e o gosto das coisas nordestinas. Utilizada para assar carnes e queijos, também pode substituir óleos e azeite em receitas culinárias.
        </p>
      </div>
    </div>
    <img src="images/manteiga_da_terra.png">


    <h4>NATA FRESCA – 50% DE GORDURA – POTES DE 140g E 1 kg</h4>
    <p>
      Seu alto teor de gordura possibilita a produção de pratos com sabor diferenciado. Sobremesas e pratos salgados ganham leveza e sabor incomparáveis com a utilização da nata fresca.
    </p>
    <img src="images/nata.png">

    <h4>CREME DE LEITE FRESCO – 35% DE GORDURA – 500 ml</h4>
    <p>
      O verdadeiro creme de leite que vai compor as receitas de forma surpreendente. Apresenta, em média, o dobro do teor de gordura dos cremes de leite UHT, o que confere aos pratos elaborados com o nosso creme de leite muito mais sabor e cremosidade.
    </p>
    <img src="images/creme_de_leite.png">

  </div>

  <img src="images/fundos_instagram-07.png">
</section>

