---
title: Parnamirim
---

<section class="section section--page section--city">
  <div class="spacer"></div>

  <div class="container">
    <div class="section-title">
      <h1>Parnamirim</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Supermercado Boa Esperança Loja 1<br/>
          End.: Rua Tenente Ferreira Maldos, 297 - Centro - CEP.: 59150-000<br/>
          Fone: 84 3272-2704<br/>
        </p>
        <p>
          Rede Mais Serve Bem<br/>
          End.: Rua Tenente Ferreira Maldos, 805 - Centro - CEP.: 59140-220<br/>
          Fone: 84 3272-6210<br/>
        </p>
        <p>
          Supermercado Boa Esperança Loja 3<br/>
          End.: Av. Rio Água Vermelha, 166 - Emaús - CEP.: 59149-195<br/>
          Fone: 84 3272-2071<br/>
        </p>
        <p>
          SuperFácil Atacado<br/>
          End.: Rodovia BR 101 Km 7, s/n - Emaús - CEP.: 59148-160<br/>
          Fone: 84 3615-2601<br/>
        </p>
        <p>
          Hipermercado Extra<br/>
          End.: Av. Maria Lacerda Montenegro, s/n - Nova Parnamirim - CEP.: 59152-600<br/>
          Fone: 84 3221-6540<br/>
        </p>
        <p>
          Supermercado Nordestão Loja 8<br/>
          End.: Av. Maria Lacerda Montenegro, 1400 - Nova Parnamirim - CEP.: 59152-600<br/>
          Fone: 84 3615-2644<br/>
        </p>
      </div>
      <div class="col-6">
        <p>
          Supermercado Boa Esperança Loja 2<br/>
          End.: Av. Cândido Martins G. dos Santos, 524 - Rosa dos Ventos - CEP.: 59141-730<br/>
          Fone: 84 3645-2658<br/>
        </p>
        <p>
          Supermercado Seridó<br/>
          End.: Av. Abel Cabral, 1280 - Parque Pitimbu - CEP.: 59150-000<br/>
          Fone: 84 3208-8131<br/>
        </p>
        <p>
          Supermercado Ki Preço Seridó Loja 3<br/>
          End.: Rua da Nogueira, 242 - Parque dos Eucaliptos - CEP.: 59152-250<br/>
          Fone: 84 3208-4271<br/>
        </p>
        <p>
          Supermercado Monte Alegrense<br/>
          End.: Av. São Sebastião, 11 - Pirangi - CEP.: 59161-585<br/>
          Fone: 84 3238-2040<br/>
        </p>
        <p>
          Supermercado Bom Dia<br/>
          End.: Rua Cruzeiro do Sul, 1383 - Santos Reis - CEP.: 59141-090<br/>
          Tel.: 84 3645-0714<br/>
        </p>
      </div>
    </div>
  </div>
</section>
