---
title: LINHA DE LEITES PASTEURIZADOS
---

<div class="section section--master">
  <div class="product-header">
    <div class="container">
      <img class="product-header__icon" src="images/produtos2.png">
      <h1 class="product-header__title">Linha de leites pasteurizados</h1>
      <div class="product-header__content">
        <p>
          O Leite Pasteurizado Integral Cem traz para a sua mesa o melhor do leite. Obtido de propriedades rurais dos nossos municípios vizinhos, mantido resfriado na propriedade, o leite chega ao laticínio em caminhão tanque. Analisado em nosso Laboratório de Controle de Qualidade, é processado em equipamentos fechados, sem contato manual.
        </p>
      </div>
    </div>
  </div>
</div>

<section class="section section--products">
  <div class="container">
    <div class="product-description">
      <div class="product-description__number">1</div>
      <div class="product-description__body">
        <h3>LEITE PASTEURIZADO INTEGRAL</h3>
        <p>
          O Leite Pasteurizado Integral, como todo leite de qualidade, possui elevado teor de cálcio e fósforo, indispensáveis para o crescimento saudável das crianças e adolescentes, e em adultos, previne o surgimento da osteoporose. Dois copos de leite por dia fornecem 50% da ingestão diária recomendada de cálcio para adultos. Além do cálcio, o leite é rico em proteínas de alto valor biológico e vitaminas, essenciais para todas as pessoas. As gorduras presentes no leite integral são excelentes fontes de energia para as atividades diárias, além das vitaminas A e D, importantes para a visão, pele e a fixação do cálcio ao ossos. Além destas vitaminas, o leite também é rico em vitaminas do Complexo B, que participam do metabolismo do nosso corpo, produção de energia, além de proteger o sistema nervoso. Deve ser mantido sob refrigeração e após aberto deve ser consumido em 24 horas.
        </p>
      </div>
    </div>
    <img src="images/leite_integral.png">

    <h4>LEITE PASTEURIZADO DESNATADO</h4>
    <p>
      Possui todas as qualidades do leite integral, porém, livre de gorduras. É naturalmente rico em sais como cálcio, fósforo, potássio, zinco (aumenta a ação de enzimas que combatem os radicais livres, retarda o envelhecimento e favorece o crescimento e fortalecimento dos cabelos), além de conter riboflavina (vitamina B2), ácido pantotênico (Vitamina B5), folato (vitamina B9) e vitamina B12. Também apresenta-se como fonte de proteínas. Ideal para as pessoas que estão em dieta de restrição calórica ou indivíduos que buscam uma alimentação mais balanceada. Seu consumo é comprovadamente eficaz no auxílio da manutenção do peso ideal. Estudos comprovam que o consumo do leite desnatado ajuda na eliminação da gordura abdominal. Pode substituir o leite integral perfeitamente em vários pratos na cozinha. Deve ser mantido sob refrigeração e após aberto deve ser consumido em 24 horas.
    </p>
    <img src="images/leite_desnatado.png">
  </div>
  <img src="images/milk_local.png">
</section>

