---
title: São Gonçalo
---

<section class="section section--city section--page">
  <div class="spacer"></div>

  <div class="container">
    <div class="section-title">
      <h1>São Gonçalo do Amarante</h1>
    </div>

    <div class="row">
      <div class="col-6">
        <p>
          Supermercado Canna<br/>
          End.: Rua Alexandre Cavalcanti, 735 - Centro - CEP.: 59290-000<br/>
          Fone: 84 3278-2367<br/>
        </p>
      </div>
    </div>
  </div>
</section>
